<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChitChat - Your AI Companion</title>
    <link rel="stylesheet" href="css/landing-page.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
</head>
<body>

<section id="intro">
    <div class="container">
        <h1>ChitChat</h1>
        <p>Your AI Companion for Casual Conversations</p>
        <nav>
            <ul>
                <li><a href="#features">Features</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
        <a href="/login" class="btn">Try ChitChat</a>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="feature">
            <div class="content">
                <h2>Real-Time Chat</h2>
                <p>Engage in seamless conversations with our AI companion in real-time.</p>
            </div>
            <img src="video/chats.gif" alt="Real-Time Chat">
        </div>
        <div class="feature" id="feature-2">
            <img src="video/userprofile.gif" alt="User Profiles">
            <div class="content">
                <h2>User Profiles</h2>
                <p>Create and customize your user profile to personalize your ChitChat experience.</p>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container">
        <h2>About ChitChat</h2>
        <p>ChitChat was inspired by our team's passion for creating innovative solutions for everyday interactions. As a Portfolio Project for ALX SOFTWARE ENGINEERING, we embarked on this journey to develop an AI companion that enhances casual conversations and provides a personalized experience.</p>
        <p>Meet our team:</p>
        <ul>
            <li><a href="www.github.com/waltertaya">Walter Onyango</a></li>
            <li><a href="www.github.com/AviweM">Aviwe Mvundlela</a></li>
        </ul>
        <p>Find us on <a href="https://github.com/waltertaya/ChitChat-PortfolioProject">GitHub</a> for more details.</p>
    </div>
</section>

</body>
</html>
