<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
</head>
<body>
    <div class="container">
        <h2>Enter OTP</h2>
        <form action="/otp" method="post" class="otp-form" id="otp-form">
            <div class="otp-input-container">
                <input type="text" class="otp-input" maxlength="1" name="otp1" required>
                <input type="text" class="otp-input" maxlength="1" name="otp2" required>
                <input type="text" class="otp-input" maxlength="1" name="otp3" required>
                <input type="text" class="otp-input" maxlength="1" name="otp4" required>
                <input type="text" class="otp-input" maxlength="1" name="otp5" required>
                <input type="text" class="otp-input" maxlength="1" name="otp6" required>
            </div>
        </form>        
    </div>

    <script>
        const otpInputs = document.querySelectorAll('.otp-input');

        otpInputs.forEach((input, index) => {
            input.addEventListener('input', (event) => {
                const maxLength = parseInt(event.target.getAttribute('maxlength'));
                const currentLength = event.target.value.length;
                
                if (currentLength >= maxLength) {
                    if (index < otpInputs.length - 1) {
                        otpInputs[index + 1].focus();
                    } else {
                        document.getElementById('otp-form').submit();
                    }
                }
            });
        });
    </script>
</body>
</html>
