<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-image">
                <img src="img/profile.jpeg" alt="Profile Image">
            </div>
        </div>
        <div class="profile-details">
            <h2>User Profile</h2>
            <div class="detail">
                <label>Username:</label>
                <span>Username123</span>
            </div>
            <div class="detail">
                <label>Email:</label>
                <span>user@example.com</span>
            </div>
            <div class="detail">
                <label>Name:</label>
                <span>John Doe</span>
            </div>
            <div class="detail">
                <label>Gender:</label>
                <span>Male</span>
            </div>
            <div class="action">
                <a href="/update">Edit Profile</a>
            </div>
        </div>
    </div>
</body>
</html>
