<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <div class="profile-image" style="user-select: none;">
                <img src="img/profile.jpeg" alt="Profile Image">
                <div class="edit-profile">
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <div class="form-file custom-file">
                                <input class="form-control" type="file" id="formFile" name="image" multiple>
                                <label class="form-file-label" for="image"></label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Upload</button>
                    </form>
                </div>
                <button class="edit-profile-btn" ><svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24"><g fill="none"><path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 16l-1 4l4-1L19.586 7.414a2 2 0 0 0 0-2.828l-.172-.172a2 2 0 0 0-2.828 0z"/><path fill="black" d="m5 16l-1 4l4-1L18 9l-3-3z"/><path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 6l3 3m-5 11h8"/></g></svg></button>
            </div>
        </div>
        <div class="profile-details">
            <h2>User Profile</h2>
            <div class="detail">
                <label>Username:</label>
                <span><%= user.username %></span>
            </div>
            <div class="detail">
                <label>Email:</label>
                <span><%= user.email %></span>
            </div>
            <div class="detail">
                <label>Name:</label>
                <span><%= user.name %></span>
            </div>
            <div class="detail">
                <label>Gender:</label>
                <span><%= user.gender %></span>
            </div>
            <div class="action">
                <a href="/update">Edit Profile</a>
            </div>
        </div>
    </div>
    <script type="module" src="js/main.js"></script>
</body>
</html>
