input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  #password-strength {
    font-size: 14px;
    margin-top: 5px;
  }
  .weak {
    color: red;
  }
  .medium {
    color: orange;
  }
  .strong {
    color: green;
  }